.snapshots {
  height: 300px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  position: relative;
  display: grid;
  place-items: center;
}
.snapshots h1 {
  font-size: 2rem;
  width: 100%;
  text-align: left;
}
.snapshots-content-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 20px;
  position: relative;
}
.snapshots-content-box::-webkit-scrollbar {
  display: none;
}
.snapshots-content {
  min-width: 17%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  animation: scroll 0s linear infinite;
}


.spacing{
  margin: 0 341px;
}

.firstcol{
  width: 40%;
}
.secondcol{
  width: 60%;
}

@keyframes scroll {
  100% {
    transform: translate(-100%);
  }
}
.snapshots-content {
  width: 100%;
  cursor: pointer;
}
.snapshots-content img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 10px;
  border: 3px solid deeppink;
}
.snapshots-content p {
  margin-top: 10px;
  color: white;
}

.snapshots-status-content-box {
  width: 25%;
  height: 85%;
  background: white;
  display: flex;
  position: relative;
}
.snapshots-status-content-box img {
  position: absolute;
  left: 0;
  top: 0;
}
.fa-xmark {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  z-index: 5;
  font-size: 1.8rem;
}

.snapshots-conten-pre {
  position: absolute;
  left: -5%;
  font-size: 1.5rem;
  background: white;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: black;
  transform: translateY(20px);
}
.snapshots-conten-next {
  position: absolute;
  right: -5%;
  font-size: 1.5rem;
  background: white;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: black;
  transform: translateY(20px);
}

.snapshots-status {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.562);
  transform: translatey(-30%);
  z-index: 100;
  display: grid;
  place-items: center;
  display: none;
}
.show {
  display: grid;
}
.close {
  display: none;
}

.snapshots-status-content-box {
  cursor: pointer;
}

.snapshots-status {
  cursor: pointer;
}
.acslogo {
  width: 140px !important;
}



.row1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2px 0 75px;
  /* height: 500px; */
}

.entry-point-container {
  margin-top: 40px;
  margin-bottom: 50px;
}

.entry-point-card-title {
  margin-top: 10px;
  font-weight: 500;
  font-family: Poppins;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  display: inline-block;
  color: #fff;
}

.lightbox {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: -99999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.lightbox.show {
  visibility: visible;
  z-index: 99999;
  opacity: 1;
}
.status-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

amp-story-player.my-player {
  width: 100%;
  height: 100%;
  /*   margin: 70px auto; */
}

.entry-points {
  width: 100%;
  display: flex;
  left: -20px;
  padding: 0px 60px;
  padding-bottom: 10px;
}

.circular-entry-point img {
  cursor: pointer;
  width: 500px;
  height: 140px;
  border-radius: 50%;
  background-clip: content-box;
  border: 2px solid;
  padding: 10px;
}

.entry-point-card-container {
  position: relative;
  padding-right: 75px;
  transition: transform 0.3s;
}

/* Extra stuff that makes sample aesthetic. */



.fake-content {
  width: 320px;
  height: 427px;
  top: -178px;
  margin: auto;

  background: transparent;
  /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); */
  border-radius: 16px;
}

.viewport {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  /*   border-radius: 10px; */
  padding: 20px;

  margin: auto;
  /* width: 360px; */
  height: 600px;
  background-color: transparent;
  overflow: hidden;
}
.worksec-mar {
  margin-top: -95px !important;
}

.footer .footer-links .footer-block .footer-logo {
  width: 157px !important;
}

.firstline {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.secondline {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.who-row {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.who-row span {
  color: #00ef5d;
  font-size: 2.5rem;
}
.who-row p {
  color: #fff;
  margin-top: 10px;
}

.nav-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  overflow: inherit;
  color: #fff;
  width: 100%;
  text-align: left;
}

.wapper-client1 {
  flex-wrap: nowrap !important;
}

.logo-box1 {
  /* position: relative; */
  background-color: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  width: calc(33.33333% - 2px);
  /* padding: 15px; */
  min-height: 136px !important;
  margin-right: 2px;
  margin-bottom: 2px;
  margin: 26px;
  /* gap: 158px; */
}
.entry-points {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}
.entry-points::-webkit-scrollbar {
  display: none !important;
}


.status-card img {
  height: 200px;
  width: 200px;
}



.hubspot-cover{
  content: '';
  position: relative;
  background-color: #fff;
  height: 100px;
  width: 500px;
  bottom: 110px;
  left: 20px;
}

.margin-t{
  margin-top: 200px;
}

.para-head-size{
  font-size: 1.5rem;
}










































.contenet-hero h1{
  margin-left: 1px!important;
}







/* about page services cards css start */

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(-5deg);
}
.service-container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}
.service-container .card .card__head {
  color: black;
  background: #00ef5d;
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
}
.service-container .card:hover {
  flex-grow: 2;
}
.service-container .card:hover img {
  filter: grayscale(0);
}
.service-container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.service-container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.service-container .card:not(:nth-child(5)) {
  margin-right: 1em;
}


/* about page services cards css end */









/* CTA button popup form css start */

.pu-form{
  height: 100%;
  width: 100%;
}

 .popup .content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-150%) scale(0);
  width: 800px;
  height: 430px;
  z-index: 2;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  z-index: 1;
 }

 .popup .close-btn {
  position: absolute;
  right: 30px;
  text-align: center;
  vertical-align: middle;
  top: 25px;
  width: 30px;
  height: 30px;
  color: #000000;
  font-size: 30px;
  border-radius: 50%;
  border:2px solid black;
  padding:-6px 5px 1px 5px;
  /* background: #00ef5d; */
  cursor: pointer;
  }

 .popup.active .content {
 transition: all 300ms ease-in-out;
 transform: translate(-50%,-50%) scale(1);
 }




 .first-button {
 color: rgb(3, 48, 146);
 font-size: 25px;
 font-weight: 500;
 padding: 8px 16px!important;
 border-radius:45px!important;
 border: none;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #dadadb;

 transition: box-shadow .35s ease !important;
 outline: none;
 }

 .first-button:active {
 background-color: rgb(2, 42, 112);
 color: #fff;
 border: none;
 }

 .second-button {
 color: white;
 font-size: 18px;
 font-weight: 500;
 margin-top: 20px;
 padding: 15px 40px;
 border-radius: 5px;
 border: none;
 background: #05438f;

 transition: box-shadow .35s ease !important;
 outline: none;
 }

 .second-button:active{
 background: linear-gradient(145deg,#222222, #292929);

 border: none;
 outline: none;
 }

.pop-up-btn button span::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
  height: 30px;
  width: 30px;
  line-height: 33px;
  text-align: center;
  margin: 12px 20px 12px 0px;
  background-color: #fff;
  color: #000;
  -webkit-transition: background 0.2s linear, color 0.2s linear;
  -o-transition: background 0.2s linear, color 0.2s linear;
  transition: background 0.2s linear, color 0.2s linear;
}

/* CTA button popup form css end */
.ser-box{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}







  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .row12{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

  .nft {
    user-select: none;
    max-width: 450px;
    margin: 1rem 1rem;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
  .nft hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  .nft ins {
    text-decoration: none;
  }
  .nft .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  .nft .main .tokenImage {
    border-radius: 0.5rem;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .nft .main .description {
    margin: 0.5rem 0;
    color: #a89ec9;
  }
  .nft .main .tokenInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nft .main .tokenInfo .price {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
  }
  .nft .main .tokenInfo .price ins {
    margin-left: -0.3rem;
    margin-right: 0.5rem;
  }
  .nft .main .tokenInfo .duration {
    display: flex;
    align-items: center;
    color: #a89ec9;
    margin-right: 0.2rem;
  }
  .nft .main .tokenInfo .duration ins {
    margin: 0.5rem;
    margin-bottom: 0.4rem;
  }
  .nft .main .creator {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: -0.3rem;
  }
  .nft .main .creator ins {
    color: #a89ec9;
    text-decoration: none;
  }
  .nft .main .creator .wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff22;
    padding: 0.3rem;
    margin: 0;
    margin-right: 0.5rem;
    border-radius: 100%;
    box-shadow: inset 0 0 0 4px #000000aa;
  }
  .nft .main .creator .wrapper img {
    border-radius: 100%;
    border: 1px solid #ffffff22;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0;
  }
  .nft ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  .nft:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
  }
  .nft:hover ::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
  }

  .bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg h1 {
    font-size: 20rem;
    filter: opacity(0.5);
  }


.dropdown a{
    text-decoration: none;
    /* color: red; */
}


  @import url(https://use.typekit.net/ztx1wfr.css);
  :root {
    --border-w: 0.25rem;
    --border-r: 100px;
    --angle: 130deg;
  }

  .btn11 {
    /* margin-top: 10px; */
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    grid-column: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    padding: 0.725em 1.25em 0.8em;
    box-shadow: linear-gradient(var(--angle), #01e259 25%, rgb(4 146 58) 40%, rgb(3 156 62) 65%, #055a26 85%) no-repeat -1px 50%/300% calc(100% + 2px);
background: linear-gradient(var(--angle), #000000 25%, rgb(4 146 58) 40%, rgb(3 156 62) 65%, #055a26 85%) no-repeat -1px 50%/300% calc(100% + 2px);
    color: white;
    transition: color 0.3s, background 0.3s, transform 0.75s, background-position 0.5s, box-shadow 0.5s;
    will-change: background-position, transform, box-shadow;
    position: relative;
    border-radius: var(--border-r);
    border: var(--border-w) solid #01e259;
  }
  .btn11:before, .btn11:after {
    content: "";
    border-radius: inherit;
    position: absolute;
    transition: opacity 0.5s, filter 0.5s;
  }
  .btn11:before {
    inset: calc(var(--border-w) * -1);
    box-shadow: linear-gradient(var(--angle), #01e259 25%, rgb(4 146 58) 40%, rgb(3 156 62) 65%, #055a26 85%) no-repeat -1px 50%/300% calc(100% + 2px);
    mix-blend-mode: hard-light;
  }
  .btn11:after {
    inset: 0;
    border-radius: calc(var(--border-r) - var(--border-w));
    box-shadow: -0.05em -0.05em 0.05em #01e259, 0.05em 0.05em 0.05em #01e259;
    mix-blend-mode: hard-light;
  }
  .btn11:after {
    content: none;
  }
  .btn11:hover, .btn11:focus {
    background-position: calc(100% + 1px) 50%;
    box-shadow: linear-gradient(var(--angle), #01e259 25%, rgb(4 146 58) 40%, rgb(3 156 62) 65%, #055a26 85%) no-repeat -1px 50%/300% calc(100% + 2px);
  }
  .btn11--outline {
    color: #221155;
    background: linear-gradient(var(--angle), rgba(56, 216, 109, 0) 33.3%, #38d838 66.6%, #01e259 85%, rgba(177, 67, 231, 0.9)) no-repeat -1px 50%/300% calc(100% + 2px);
  }
  .btn11--outline:after {
    content: "";
  }
  .btn11--outline:hover, .btn11--outline:focus {
    color: white;
  }
  .btn11--outline:hover:after, .btn11--outline:focus:after {
    opacity: 0;
  }

  .card {
    grid-area: 1/2/3;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: #6138D8;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: var(--border-r);
    border: var(--border-w) solid #6138D8;
    border-color: rgba(109, 80, 192, 0.1);
    box-shadow: 0 0.1em 2.25em -0.5em rgba(224, 32, 240, 0), 0 0.333em 0.5em -0.25em rgba(224, 32, 240, 0);
    transition: 0.5s;
    transition-property: border-color, background, box-shadow, color;
  }
  .card:before, .card:after {
    content: "";
    border-radius: inherit;
    position: absolute;
    transition: opacity 0.5s, filter 0.5s;
  }
  .card:before {
    inset: calc(var(--border-w) * -1);
    box-shadow: inset 0.0333em 0.0333em 0.2em #ca78e5, inset -0.0666em -0.0666em 0.15em #311879, inset 0.025em 0.025em 0.1em white;
    mix-blend-mode: hard-light;
  }
  .card:after {
    inset: 0;
    border-radius: calc(var(--border-r) - var(--border-w));
    box-shadow: -0.05em -0.05em 0.05em #311879, 0.05em 0.05em 0.05em #ca78e5;
    mix-blend-mode: hard-light;
  }
  .card:before, .card:after {
    opacity: 0.25;
    filter: saturate(0) invert(1);
  }
  .card:hover, .card:focus {
    color: #391c8e;
    border-color: #6138D8;
    background: rgba(224, 32, 240, 0.5);
    box-shadow: 0 0.1em 2.25em -0.5em #e020f0, 0 0.25em 0.25em -0.15em rgba(224, 32, 240, 0.333);
  }
  .card:hover:before, .card:hover:after, .card:focus:before, .card:focus:after {
    opacity: 1;
    filter: saturate(1) invert(0);
  }








  .slide__text-desc {
    font-family: 'Roboto', sans-serif;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    font-size: 2.5%;
    height: 100%;
    overflow: hidden;
  }

  body {
    background: #000;
  }

  svg {
    display: block;
    overflow: visible;
  }

  .slider-container {
    margin: 100px 0px;
    position: relative;
    height: 100%;
    user-select: none;
    cursor: all-scroll;
  }

  .slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
  }
  .slider-control.inactive:hover {
    cursor: auto;
  }
  .slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }
  .slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, transparent 100%);
  }
  .slider-control.right {
    right: 0;
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.18) 100%);
  }

  .slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
  }
  .slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
  }
  .slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
  }
  .slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    transform: translate(-50%, -50%) scale(1);
  }

  .slider {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .slider.animating {
    transition: transform 0.5s;
    will-change: transform;
  }
  .slider.animating .slide__bg {
    transition: transform 0.5s;
    will-change: transform;
  }

  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slide.active .slide__overlay,
  .slide.active .slide__text {
    opacity: 1;
    transform: translateX(0);
  }
  .slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
  }
  .slide:nth-child(1) {
    left: 0;
  }
  .slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("http://127.0.0.1:8000/user-assets/img/banner/hero-marketing-solutions.jpg");
  }
  .slide:nth-child(1) .slide__overlay-path {
    fill: #303030;
  }
  @media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
      background-color: #303030;
    }
  }
  .slide:nth-child(2) {
    left: 100%;
  }
  .slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("http://127.0.0.1:8000/user-assets/img/banner/hero-marketing-solutions.jpg");
  }
  .slide:nth-child(2) .slide__overlay-path {
    fill: #303030;
  }
  @media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
      background-color: #303030;
    }
  }
  .slide:nth-child(3) {
    left: 200%;
  }
  .slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("http://127.0.0.1:8000/user-assets/img/banner/hero-marketing-solutions.jpg");
  }
  .slide:nth-child(3) .slide__overlay-path {
    fill: #303030;
  }
  @media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
      background-color: #303030;
    }
  }
  .slide:nth-child(4) {
    left: 300%;
  }
  .slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("http://127.0.0.1:8000/user-assets/img/banner/hero-marketing-solutions.jpg");
  }
  .slide:nth-child(4) .slide__overlay-path {
    fill: #303030;
  }
  @media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
      background-color: #303030;
    }
  }
  .slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  @media (max-width: 991px) {
    .slide__overlay {
      display: none;
    }
  }
  .slide__overlay path {
    opacity: 0.8;
  }
  .slide__text {
    position: absolute;
    width: 25%;
    bottom: 15%;
    left: 12%;
    color: #fff;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-50%);
    opacity: 0;
  }
  @media (max-width: 991px) {
    .slide__text {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20rem;
      text-align: center;
      transform: translateY(50%);
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
      padding: 0 1rem;
    }
  }
  .slide__text-heading {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
  }
  @media (max-width: 991px) {
    .slide__text-heading {
      line-height: 10rem;
      font-size: 3.5rem;
    }
  }
  .slide__text-desc {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  @media (max-width: 991px) {
    .slide__text-desc {
      display: none;
    }
  }
  .slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
    perspective: 1000px;
  }
  @media (max-width: 991px) {
    .slide__text-link {
      margin: -2rem 0 8rem;
    }
  }
  .slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: 50% 100%;
    transform: rotateX(-85deg);
    transition: transform 0.3s;
    will-change: transform;
  }
  .slide__text-link:hover:before {
    transform: rotateX(0);
  }















*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 2;
}

.navbar, .buttons1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.brand:hover{
    font-weight: bolder;
    color: #04c04c;
}

.btn1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    background: transparent;
    border: 1px solid #00ef5d;
    padding: 0.5em 1.3em;
    border-radius: 16px;
    color: #fff;

}

.btn1:hover{
    background: #00ef5d;
    color: black;
}

.menu-btn{
    margin-left: 1em;
    background: none;
    display: inline-block;

}
/* .liitem{
    font-size: 1.5rem;
} */

.menu-btn span{
    font-size: 2.3em;
}

.dropdown > div, .sub-dropdown > div {
    cursor: pointer;
}

.dropdown .menu a:hover{
    color: #9b9b9b;
}

@media screen and (min-width: 800px) {
    .navbar{
        padding: 0 15em;
    }
    .dropdown > div{
        padding: 1.5em 1em;
    }
    .mega-menu{
        display: flex;
        justify-content: center;
    }
    .menu-btn{
        display: none;
    }
    .menu{
        background: rgb(58, 57, 57);
        position: absolute;
        top: 4.65em;
        left: 0;
        width: 100%;
        padding: 0 2em;
        overflow-y: scroll;
        transition: 0.4s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
    }

    .menu > li:first-child{
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
    }

    .sub-dropdown > div span:first-child{
        font-weight: bold;
    }

    /* .dropdown > div{
        border-bottom: 3px #fff solid;
        transition: 0.3s;
    } */

    .dropdown:hover > div{
        border-color: #000;
    }

    .dropdown li{
        margin-bottom: 1em;
    }

    .dropdown > div span:last-child,
    .sub-dropdown > div{
        display: none;
    }

    /* Width */
    .menu::-webkit-scrollbar{
        width: 8px;
    }
    /* Track */
    .menu::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    /* Handle */
    .menu::-webkit-scrollbar-thumb{
        background: #888;
    }

    /* Handle on hover */
    .menu::-webkit-scrollbar-thumb:hover{
        background: #555;
    }

    /* Hide menu */
    .menu{
        height: 0;
    }
    .dropdown:hover .menu{
        height: 50vh;
        padding: 2em;
    }
}

/* Responsive Design */
@media screen and (max-width: 800px) {
    .navbar{
        padding: 1em 1.5em;
    }
    .menu-container{
        background: #fff;
        position: absolute;
        top: 4.4em;
        left: 0;
        width: 100%;
        overflow-y: hidden;
        transition: 0.3s ease-in-out;
    }

    /* Width */
    .mega-menu::-webkit-scrollbar{
        width: 8px;
    }
    /* Track */
    .mega-menu::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    /* Handle */
    .mega-menu::-webkit-scrollbar-thumb{
        background: #888;
    }
    /* Handle on hover */
    .mega-menu::-webkit-scrollbar-thumb:hover{
        background: #555;
    }
    .mega-menu{
        padding: 0 1em 1em 1em;
        height: 100%;
        overflow-y: scroll;
    }
    .mega-menu li{
        font-weight: bold;
        font-size: 1.1em;
    }
    .mega-menu li > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
    }
    .menu li{
        padding: 0 1em;
        font-size: 1em;
        font-weight: 400;
    }
    .menu a{
        display: block;
        margin: 0.8em 0;
    }
    .menu{
        display: none;
    }
    /* Toggle class for Javascript */
    .menu-show{
        display: block;
    }
    .material-symbols-outlined{
        transition: 0.3s;
    }
    /* Toggle class for javascript */
    .icon-rotated{
        transform: rotate(90deg);
    }
    .dropdown>div, .sub-dropdown > div{
        cursor: pointer;
        padding: 0.5em;
    }
    .sub-menu{
        font-size: 0.9em;
        display: none;
    }
    /* Toggle class for Javascript */
    .sub-menu-show{
        display: block;
    }
    .dropdown:hover>div, .sub-dropdown:hover>div{
        background: #dbdbdb;
    }
    /* Hide menu */
    .menu-container{
        height: 0;
    }
    /* Toggle class for javascript */
    .mega-menu-show{
        height: 50vh;
    }
}


















.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 60px 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}






.timeline-content {
  padding: 20px;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
width: 428px;
}


.img-brand{
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #00ef5d, #72ffa8, #09b14a);;
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-image: linear-gradient(45deg, #00ef5d, #4bff90, #09b14a);; */
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            border: 2px solid #00ef5d;
            background-color: black;
  }
}


.content-ab{
    text-align: center;
    width: 100%;

}





/* media query start */

@media only screen and (min-width: 1700px) and (max-width: 4000px) {
  .circular-entry-point img {
    cursor: pointer;
    width: 263px;
    height: 175px;
    border-radius: 50%;
    background-clip: content-box;
    border: 2px solid;
    padding: 10px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1600px) {
  .circular-entry-point img {
    cursor: pointer;
    width: 500px;
    height: 116px;
    border-radius: 50%;
    background-clip: content-box;
    border: 2px solid;
    padding: 10px;
  }
  .spacing{
    margin: 0 168px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 950px) {
  .spacing{

    margin: 0 104px;
    flex-direction: column;
  }
  .row12 {
    flex-direction: column;
  }
  .firstcol{
    width: 100%;
  }
  .secondcol{
    width: 100%;
  }

}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .who-row {
    flex-direction: column;
    gap: 50px;
  }

  .row12 {
    flex-direction: column;
  }
  .entry-point-card-container {
    position: relative;
    padding-right: 205px;
    transition: transform 0.3s;
  }

  .brand-client .wapper-client {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
  }
  .wapper-client1 {
    flex-direction: column;
  }

  .logo-box1 {
    /* position: relative; */
    background-color: transparent !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
    width: calc(33.33333% - 2px);
    /* padding: 15px; */
    min-height: 136px !important;
    margin-right: 2px;
    margin-bottom: 2px;
    margin: 26px;
    /* gap: 158px; */
  }
  .brand-client .wapper-client {
    align-items: left;
    margin-left: 25px;
  }

  html {
    overflow-x: hidden;
  }
  .status-card img {
    height: 137px;
    max-width: 143px!important;
}

.row1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 2px 0 30px;
}

.spacing{
  margin: 0 16px;
  flex-direction: column;
}
.firstcol{
  width: 100%;
}
.secondcol{
  width: 100%;
}
.service-container .card:hover {
  flex-grow: 10;
}
.popup .content{
  width: 350px;
}
.ser-box{
  flex-direction: column;
}
.hubspot-cover{
  content: '';
  position: relative;
  background-color: #fff;
  height: 75px;
  width: 280px;
  bottom: 129px;
  left: 20px;
}
.timeline{
  width: 100%;
}
.timeline-component {
  width: 344px;
}
}
